# Lecture Notes

## Subsetting

In [7]:
set.seed(13435)
# create a dataframe with three variables
X <- data.frame("var1"=sample(1:5),"var2"=sample(6:10),"var3"=sample(11:15))
# scramble some of the data and set some to NA
# X[sample(1:5),] reshuffles a random row into the current index
X <- X[sample(1:5),]; X$var2[c(1,3)] = NA
X

  var1 var2 var3
1 2    NA   15
4 1    10   11
2 3    NA   12
3 5     6   14
5 4     9   13

In [8]:
# subset column 1
X[,1]

[1] 2 1 3 5 4

In [9]:
# subset a column by variable name
X[,"var1"]

[1] 2 1 3 5 4

In [10]:
# subset first two rows of X and the 'var2' column
X[1:2,"var2"]

[1] NA 10

In [11]:
X[(X$var1 <= 3 & X$var3 > 11),]

  var1 var2 var3
1 2    NA   15
2 3    NA   12

In [12]:
X[(X$var1 <= 3 | X$var3 > 15),]

  var1 var2 var3
1 2    NA   15
4 1    10   11
2 3    NA   12

In [13]:
# dealing with missing values - subset dataframe and exclude NAs
X[which(X$var2 > 8),]

  var1 var2 var3
4 1    10   11
5 4     9   13

In [ ]:
# sort
sort(X$var1)

sort(X$var1, decreasing=TRUE)

sort(X$var2,na.last=TRUE)

In [ ]:
# ordering
X[order(X$var1),]

X[order(X$var1, X$var3),]

In [ ]:
# ordering with plyr package
library(plyr)
arrange(X, var1)
arrange(X,desc(var1))

In [ ]:
# add column
X$var <- rnorm(5)

# bind new column to the right side of the data frame
Y <- cbind(X, rnorm(5))

# add row to the bottom of the data frame
Y <- rbind(X, rnorm(5))

# http://www.biostat.jhsph.edu/%7Eajaffe/lec_winterR/Lecture%202.pdf

## Summarizing Data

In [14]:
if(!file.exists("./data")){dir.create("./data")}
fileUrl <- "https://data.baltimorecity.gov/api/views/k5ry-ef3g/rows.csv?accessType=DOWNLOAD"
download.file(fileUrl, destfile="./data/restaurants.csv", method="curl")
restData <- read.csv("./data/restaurants.csv")

In [15]:
# look at the top or bottom rows of the data frame
head(restData,n=3)
tail(restData,n=3)

  name  zipCode neighborhood councilDistrict policeDistrict
1 410   21206   Frankford    2               NORTHEASTERN
2 1919  21231   Fells Point  1               SOUTHEASTERN
3 SAUTE 21224   Canton       1               SOUTHEASTERN
  Location.1
1 4509 BELAIR ROAD\nBaltimore, MD
2 1919 FLEET ST\nBaltimore, MD
3 2844 HUDSON ST\nBaltimore, MD

In [ ]:
summary(restData)
str(restData)

In [ ]:
#using quantiles to look at variability
quantile(restData$councilDistrict,na.rm=TRUE)

quantile(restData$councilDistrict, probs=c(.5,.75,.9))

In [20]:
# make a table of a specific variable
# adding the useNA parameter will add an additional column if there are any missing values
table(restData$zipCode,useNA="ifany")

-21226  21201  21202  21205  21206  21207  21208  21209  21210  21211  21212
     1    136    201     27     30      4      1      8     23     41     28
 21213  21214  21215  21216  21217  21218  21220  21222  21223  21224  21225
    31     17     54     10     32     69      1      7     56    199     19
 21226  21227  21229  21230  21231  21234  21237  21239  21251  21287
    18      4     13    156    127      7      1      3      2      1

In [ ]:
# make a two dimensional table
table(restData$councilDistrict,restData$zipCode)

In [ ]:
#check for total number of missing values
sum(is.na(restData$councilDistrict))

# any checks to see if any member of a set of values satisfies a condition
any(is.na(restData$councilDistrict))

# all checks to see if all members of a set of values satisfy a condition
all(restData$zipCode > 0)

In [ ]:
# summing across rows and columns
colSums(is.na(restData))

all(colSums(is.na(restData)) == 0)

In [ ]:
# values with specific characteristics
# alternative to using the "=="
table(restData$zipCode %in% c("21212"))

table(restData$zipCode %in% c("21212","21213"))
#this will resturn counts

In [ ]:
# can use the logical variable above to subset a dataframe
restData[restData$zipCode %in% c("21212","21213"),]

In [22]:
# crosstabs

data(UCBAdmissions)
DF = as.data.frame(UCBAdmissions)
summary(DF)

      Admit       Gender   Dept       Freq
 Admitted:12   Male  :12   A:4   Min.   :  8.0
 Rejected:12   Female:12   B:4   1st Qu.: 80.0
                           C:4   Median :170.0
                           D:4   Mean   :188.6
                           E:4   3rd Qu.:302.5
                           F:4   Max.   :512.0

In [23]:
xt <- xtabs(Freq ~ Gender + Admit, data=DF)
xt

        Admit
Gender   Admitted Rejected
  Male       1198     1493
  Female      557     1278

In [25]:
warpbreaks$replicate <- rep(1:9, len = 54)
xt = xtabs(breaks ~.,data=warpbreaks)
#xt
ftable(xt)

             replicate  1  2  3  4  5  6  7  8  9
wool tension
A    L                 26 30 54 25 70 52 51 26 67
     M                 18 21 29 17 12 18 35 30 36
     H                 36 21 24 18 10 43 28 15 26
B    L                 27 14 29 19 29 31 41 20 44
     M                 42 26 19 16 39 28 21 39 29
     H                 20 21 24 17 13 15 15 16 28

In [ ]:
# Size of a dataset
print(object.size(fakeData),units="Mb")

## Creating Variables

In [ ]:
# Creating sequences or indexes

# creates a sequence that goes up to the max number and increments by the "by=" each time
s1 <- seq(1,10,by=2); s1

# creates a sequence that starts and min and goes to the max, but includes the number of elements specified in 'length'
s2 <- seq(1,10,length=3); s2

# creates a sequcence of values to match the number of elements in a vector (x)
x <- c(1,3,8,25,100); seq(along = x)

In [26]:
# subsetting variables
#create a column in the dataframe based on a logical condition
restData$nearMe = restData$neighborhood %in% c("Roland Park", "Homeland")
#print a table to summarize the column
table(restData$nearMe)

FALSE  TRUE
 1314    13

In [29]:
# create binary variables
restData$zipWrong = ifelse(restData$zipCode < 0, TRUE, FALSE)
table(restData$zipWrong, restData$zipCode < 0)

        FALSE TRUE
  FALSE  1326    0
  TRUE      0    1

In [30]:
# creating categorical variables
restData$zipGroups = cut(restData$zipCode, breaks=quantile(restData$zipCode))
table(restData$zipGroups)

(-2.123e+04,2.12e+04]  (2.12e+04,2.122e+04] (2.122e+04,2.123e+04]
                  337                   375                   282
(2.123e+04,2.129e+04]
                  332

In [34]:
# do the same as above without specifying the quantile breaks
library('Hmisc')
restData$zipGroups = cut2(restData$zipCode,g=4)
table(restData$zipGroups)

[-21226,21205) [ 21205,21220) [ 21220,21227) [ 21227,21287]
           338            375            300            314

In [ ]:
# Creating factor variables

restData$zcf <- factor(restData$zipCode)
restData$zcf[1:10]

class(restData$zcf)

In [ ]:
# create a vector of 10 yeses and nos randomly
yesno <- sample(c("yes","no"),size=10,replace=TRUE)
# transform into factor variable
yesnofac = factor(yesno, levels=c("yes","no"))
# specify yes as a 1 and no as 2
relevel(yesnofac,ref="yes")
#transform back into numeric
as.numeric(yesnofac)

In [ ]:
# produce factor variables with cutting
library(Hmisc)
restData$zipGroups = cut2(restData$zipCode,g=4)
rable(restData$zipGroups)

In [37]:
# use mutate to create factor variable and add it to a data set
library(Hmisc); library(plyr)
#create new data frame restData2 by mutating the old one restData
#the new dataframe will have a new column zipGroups that is a factor variable
#produced by cutting the zipCode column into four subgroups
restData2 = mutate(restData,zipGroups=cut2(zipCode,g=4))
table(restData2$zipGroups)

Attaching package: 'plyr'

The following objects are masked from 'package:Hmisc':

    is.discrete, summarize

[-21226,21205) [ 21205,21220) [ 21220,21227) [ 21227,21287]
           338            375            300            314

In [ ]:
# Common transforms

# absolute value
abs(x)

sqrt(x)

ceiling(x)

floor(x)

round(x, digits=n)

signif(x, digits=n)

cos(x), sin(x)

log(x)

log2(x), log10(x)

exp(x)

## Reshaping Data

## Goal of reshaping 

Tidy data:

* Each variable forms a column
* Each observation forms a row
* Each table/file stores data about one kind of observation (e.g. people/hospitals)

In [38]:
# Melting data frames
# Melting transforms the data frame so that each row is a unique id-variable combination
library("reshape2")
mtcars$carname <- rownames(mtcars)
carMelt <- melt(mtcars,id=c("carname","gear","cyl"),measure.vars=c("mpg","hp"))
head(carMelt,n=3)
tail(carMelt,n=3)

  carname       gear cyl variable value
1 Mazda RX4     4    6   mpg      21.0
2 Mazda RX4 Wag 4    6   mpg      21.0
3 Datsun 710    4    4   mpg      22.8

   carname       gear cyl variable value
62 Ferrari Dino  5    6   hp       175
63 Maserati Bora 5    8   hp       335
64 Volvo 142E    4    4   hp       109

In [39]:
# reshape the data frame to have number of cylinders as row and other variables in columns
# summarize data set with length as aggregate function
cylData <- dcast(carMelt, cyl ~ variable)
cylData

Aggregation function missing: defaulting to length

  cyl mpg hp
1 4   11  11
2 6    7   7
3 8   14  14

In [40]:
cylData <- dcast(carMelt, cyl ~ variable, mean)
cylData

  cyl mpg      hp
1 4   26.66364  82.63636
2 6   19.74286 122.28571
3 8   15.10000 209.21429

In [41]:
head(InsectSprays)

  count spray
1 10    A
2  7    A
3 20    A
4 14    A
5 14    A
6 12    A

In [ ]:
# apply aggregation function 'sum' to the column 'count', along the index 'spray'
tapply(InsectSprays$count,InsectSprays$spray,sum)

In [ ]:
# alternative method for applying an aggregation to columns based on index: split-apply-combine

# split method 1
spIns = split(InsectSprays$count, InsectSprays$spray)
# output is a list of lists - each list contains counts for that specific spray
spIns

# apply method 1
# apply the function 'sum' across all the elements of each list
sprCount = lapply(spIns, sum)
sprCount

# combine method 1
#transform the list back to a vector
unlist(sprCount)

# apply + combine method 2
sapply(spIns,sum)

In [ ]:
# another method for applying an aggregation to columns based on index -- plyr package
library(plyr)
# variables to summarize are listed as the second parameter between .()
ddply(InsectSprays,.(spray),summarize,sum=sum(count))

In [ ]:
# creating a new variable/column
# want to summarize the counts by summing them up
# using the ave function applied to count, where the summary function is sum???
# this essentially creates a new variable that contains the total sum for a given 'spray' variable, in every row where that spray occurs
spraySums <- ddply(InsectSprays,.(spray),summarize,sum=ave(count,FUN=sum))
dim(spraySums)

In [ ]:
# Other
# acast - casting multi-dimensional arrays
# arrange - for faster reorder w/o using order() commands
# mutate - adding new variables

## Managing Data Frames with dplyr

## Merging Data

# Quiz

# Assigngment