## Question 1

The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv

and load the data into R. The code book, describing the variable names is here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FPUMSDataDict06.pdf

Create a logical vector that identifies the households on greater than 10 acres who sold more than $10,000 worth of agriculture products. Assign that logical vector to the variable agricultureLogical. Apply the which() function like this to identify the rows of the data frame where the logical vector is TRUE.

which(agricultureLogical)

What are the first 3 values that result?

In [2]:
#download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv","getdata_data_ss06hid-2.csv")

In [7]:
df <- read.csv("getdata_data_ss06hid-2.csv")

In [9]:
agricultureLogical <- df$ACR == 3 & df$AGS == 6

In [10]:
#df_new <- which(agricultureLogical)
#X[which(X$var2 > 8),]
df_new <- df[which(with(df$ACR == 3 & df$AGS == 6))]

ERROR: Error in eval(substitute(expr), data, enclos = parent.frame()): invalid 'envir' argument of type 'logical'

In [11]:
df_new2 <-df[which(df$ACR == 3 & df$AGS == 6),]

In [12]:
head(df_new2,n=5)

    RT SERIALNO DIVISION PUMA REGION ST ADJUST  WGTP NP TYPE ... wgtp71 wgtp72
125 H   30346   8        400  4      16 1015675 120  4  1    ...  96     29
238 H   53292   8        300  4      16 1015675  26  3  1    ...  23      8
262 H   56299   8        800  4      16 1015675  97  2  1    ... 141    176
470 H  101282   8        800  4      16 1015675  76  2  1    ...  62     18
555 H  120351   8        800  4      16 1015675  51  5  1    ...  96     93
    wgtp73 wgtp74 wgtp75 wgtp76 wgtp77 wgtp78 wgtp79 wgtp80
125  41    202    187     51     83    158    42     112
238  14      8      8     24     25      8     6       8
262 126     83     94    114    103     33    33      28
470  82     78     70     66     23     19    67     114
555  86     55     61     55     45     73    17      95

## Question 2

Using the jpeg package read in the following picture of your instructor into R

https://d396qusza40orc.cloudfront.net/getdata%2Fjeff.jpg

Use the parameter native=TRUE. What are the 30th and 80th quantiles of the resulting data? (some Linux systems may produce an answer 638 different for the 30th quantile)

In [20]:
library(jpeg)
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fjeff.jpg","getdata-jeff.jpg")
pic_df <- readJPEG("getdata-jeff.jpg",native=TRUE)

In [22]:
str(pic_df)

 'nativeRaster' int [1:180, 1:180] -2778472 -2778472 -2778472 -2778472 -2778472 -2778472 -2778472 -2778472 -2778472 -2778472 ...
 - attr(*, "channels")= int 3

In [136]:
quantile(pic_df, probs = c(0,0.30, 0.80,1.0))

       0%       30%       80%      100%
-16777216 -16776396  -3735553        -1

## Question 3

Load the Gross Domestic Product data for the 190 ranked countries in this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv

Load the educational data from this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv

Match the data based on the country shortcode. How many of the IDs match? Sort the data frame in descending order by GDP rank (so United States is last). What is the 13th country in the resulting data frame?

In [25]:
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv","GDP.csv")
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv","EDSTATS_Country.csv")

In [105]:
df_test = read.csv("GDP2.csv")

In [ ]:
df_clean <- df_test[,c(1,2,4,5)]
df_clean

In [108]:
nrow(df_clean)

[1] 231

In [110]:
#df1 = read.csv("GDP.csv",skip = 4)
df1 <- df_clean
df2 = read.csv("EDSTATS_Country.csv")

In [ ]:
head(df1)
head(df2)

In [113]:
df1[,"Rank"] = sapply(df1[,"Rank"], as.integer)

In [115]:
merged_df = merge(df1,df2,by.x="CountryCode",by.y="CountryCode",all.y=TRUE)

In [121]:
#head(merged_df)
#tail(merged_df)
#df_new2 <-df[which(df$ACR == 3 & df$AGS == 6),]
merged_df_clean <- merged_df[!is.na(merged_df$Rank),]

In [122]:
sorted_df = merged_df_clean[order(merged_df_clean$Rank, decreasing=TRUE),]

In [123]:
nrow(sorted_df)

[1] 189

In [137]:
sorted_df[13,]

    CountryCode Rank CountryName         GDPInMillions Long.Name
106 KNA         178  St. Kitts and Nevis  767          St. Kitts and Nevis
    Income.Group        Region                    Lending.category Other.groups
106 Upper middle income Latin America & Caribbean IBRD
    Currency.Unit         ... Vital.registration.complete
106 East Caribbean dollar ...
    Latest.agricultural.census Latest.industrial.data Latest.trade.data
106                            NA                     2007
    Latest.water.withdrawal.data X2.alpha.code WB.2.code Table.Name
106 NA                           KN            KN        St. Kitts and Nevis
    Short.Name          GDPRankQuantile
106 St. Kitts and Nevis (152,190]

In [ ]:
head(sorted_df,n=20)

In [ ]:
oecd_gdp_all <- sorted_df[which(sorted_df$Income.Group == "High income: OECD" | sorted_df$Income.Group == "High income: nonOECD"),]
avg_rank_all <- mean(oecd_gdp[,"X.1"])

In [126]:
oecd_gdp1 <- sorted_df[which(sorted_df$Income.Group == "High income: OECD"),]
avg_rank1 <- mean(oecd_gdp1[,"Rank"])

In [127]:
oecd_gdp2 <- sorted_df[which(sorted_df$Income.Group == "High income: nonOECD"),]
avg_rank2 <- mean(oecd_gdp2[,"Rank"])

In [128]:
avg_rank1
avg_rank2

[1] 32.96667

[1] 91.91304

In [97]:
quantile(sorted_df$X.1,c(.2,.4,.6,.8),na.rm=TRUE)

  20%   40%   60%   80%
 12.6  58.2 101.8 146.4

In [99]:
#Lower middle income
sorted_df[which(sorted_df$Income.Group == "Lower middle income" & sorted_df$X.1 <39),]

    X   X.1 X.2 X.3                X.4         X.5 X.6 X.7 X.8 X.9 ...
140 MNG 38  NA  Mongolia            10,271         NA  NA  NA  NA  ...
151 NIC 33  NA  Nicaragua           10,507         NA  NA  NA  NA  ...
40  COG 28  NA  Congo, Rep.         13,678         NA  NA  NA  NA  ...
176 SEN 25  NA  Senegal             14,046         NA  NA  NA  NA  ...
162 PNG 21  NA  Papua New Guinea    15,654         NA  NA  NA  NA  ...
71  GEO 20  NA  Georgia             15,747     e   NA  NA  NA  NA  ...
85  HND 13  NA  Honduras            18,434         NA  NA  NA  NA  ...
180 SLV  5  NA  El Salvador         23,864         NA  NA  NA  NA  ...
91  IND  4  NA  India               1,841,710      NA  NA  NA  NA  ...
50  DJI  1  NA  Djibouti                           NA  NA  NA  NA  ...
217 WBG  1  NA  West Bank and Gaza ..              NA  NA  NA  NA  ...
    Source.of.most.recent.Income.and.expenditure.data
140 LSMS, 2006-08
151 LSMS, 2005
40  CWIQ/ PS, 2005
176 PS 2005
162 IHS, 1996
71  IHS, 2007
85  IHS, 2006
180 IHS, 2007
91  IHS, 2004/05
50  PS, 2002
217
    Vital.registration.complete Latest.agricultural.census
140 Yes
151                             2001
40                              1985-1986
176                             1998-1999
162
71  Yes                         2004
85                              1993
180 Yes                         1970-71
91                              1995-1996/2000-2001
50
217                             1971
    Latest.industrial.data Latest.trade.data Latest.water.withdrawal.data
140 1999                   2007              2000
151   NA                   2007              2000
40    NA                   1995              2002
176 2001                   2008              2002
162   NA                   2004              2000
71  2005                   2008              2005
85    NA                   2007              2000
180   NA                   2008              2000
91  2003                   2008              2000
50    NA                   1998              2000
217   NA                     NA                NA
    X2.alpha.code WB.2.code Table.Name         Short.Name
140 MN            MN        Mongolia           Mongolia
151 NI            NI        Nicaragua          Nicaragua
40  CG            CG        Congo, Rep.        Congo
176 SN            SN        Senegal            Senegal
162 PG            PG        Papua New Guinea   Papua New Guinea
71  GE            GE        Georgia            Georgia
85  HN            HN        Honduras           Honduras
180 SV            SV        El Salvador        El Salvador
91  IN            IN        India              India
50  DJ            DJ        Djibouti           Djibouti
217 PS            GZ        West Bank and Gaza West Bank and Gaza

## Question 5: Cut the GDP ranking into 5 separate quantile groups. Make a table versus Income.Group. How many countries are Lower middle income but among the 38 nations with highest GDP?

In [133]:
sorted_df$GDPRankQuantile = cut(sorted_df$Rank, breaks=quantile(sorted_df$Rank,c(0,.2,.4,.6,.8,1.0),na.rm=TRUE))

In [134]:
head(sorted_df)

    CountryCode Rank CountryName           GDPInMillions
204 TUV         190  Tuvalu                 40
105 KIR         189  Kiribati               175
132 MHL         188  Marshall Islands       182
161 PLW         187  Palau                  228
185 STP         186  So Tom and Principe  263
68  FSM         185  Micronesia, Fed. Sts.  326
    Long.Name                                    Income.Group
204 Tuvalu                                       Lower middle income
105 Republic of Kiribati                         Lower middle income
132 Republic of the Marshall Islands             Lower middle income
161 Republic of Palau                            Upper middle income
185 Democratic Republic of So Tom and Principe Lower middle income
68  Federated States of Micronesia               Lower middle income
    Region              Lending.category Other.groups
204 East Asia & Pacific
105 East Asia & Pacific IDA
132 East Asia & Pacific IBRD
161 East Asia & Pacific IBRD
185 Sub-Saharan Africa  IDA              HIPC
68  East Asia & Pacific IBRD
    Currency.Unit               ... Vital.registration.complete
204 Australian dollar           ...
105 Australian dollar           ...
132 U.S. dollar                 ...
161 U.S. dollar                 ... Yes
185 So Tom and Principe dobra ...
68  U.S. dollar                 ...
    Latest.agricultural.census Latest.industrial.data Latest.trade.data
204                            NA                       NA
105                            NA                     2005
132                            NA                       NA
161                            NA                       NA
185                            NA                     2008
68                             NA                       NA
    Latest.water.withdrawal.data X2.alpha.code WB.2.code Table.Name
204 NA                           TV            TV        Tuvalu
105 NA                           KI            KI        Kiribati
132 NA                           MH            MH        Marshall Islands
161 NA                           PW            PW        Palau
185 NA                           ST            ST        So Tom and Principe
68  NA                           FM            FM        Micronesia, Fed. Sts.
    Short.Name            GDPRankQuantile
204 Tuvalu                (152,190]
105 Kiribati              (152,190]
132 Marshall Islands      (152,190]
161 Palau                 (152,190]
185 So Tom and Principe (152,190]
68  Micronesia            (152,190]

In [135]:
# make a two dimensional table
table(sorted_df$GDPRankQuantile,sorted_df$Income.Group)

                 High income: nonOECD High income: OECD Low income
  (1,38.6]     0                    4                17          0
  (38.6,76.2]  0                    5                10          1
  (76.2,114]   0                    8                 1          9
  (114,152]    0                    4                 1         16
  (152,190]    0                    2                 0         11

              Lower middle income Upper middle income
  (1,38.6]                      5                  11
  (38.6,76.2]                  13                   9
  (76.2,114]                   11                   8
  (114,152]                     9                   8
  (152,190]                    16                   9