Register an application with the Github API here https://github.com/settings/applications. Access the API to get information on your instructors repositories (hint: this is the url you want "https://api.github.com/users/jtleek/repos"). Use this data to find the time that the datasharing repo was created. What time was it created?

This tutorial may be useful (https://github.com/hadley/httr/blob/master/demo/oauth2-github.r). You may also need to run the code in the base R package and not R studio.

Proceed to: https://github.com/settings/applications/new

Client ID: 1606073bf58ad17c6662

Client Secret: 8e7587f1f52cfdaf9708afe85e426f36cb48d30c

In [6]:
library(httr)

# 1. Find OAuth settings for github:
#    http://developer.github.com/v3/oauth/
oauth_endpoints("github")

# 2. To make your own application, register at
#    https://github.com/settings/developers. Use any URL for the homepage URL
#    (http://github.com is fine) and  http://localhost:1410 as the callback url
#
#    Replace your key and secret below.
myapp <- oauth_app("github",
  key = "1606073bf58ad17c6662",
  secret = "8e7587f1f52cfdaf9708afe85e426f36cb48d30c"
)

# 3. Get OAuth credentials
github_token <- oauth2.0_token(oauth_endpoints("github"), myapp)

# 4. Use API
gtoken <- config(token = github_token)
req <- GET("https://api.github.com/users/jtleek/repos", gtoken)
stop_for_status(req)
json_content <- content(req)

# OR:
#req <- with_config(gtoken, GET("https://api.github.com/rate_limit"))
#stop_for_status(req)
#content(req)

<oauth_endpoint>
 authorize: https://github.com/login/oauth/authorize
 access:    https://github.com/login/oauth/access_token

Waiting for authentication in browser...
Press Esc/Ctrl + C to abort
Please point your browser to the following url:
https://github.com/login/oauth/authorize?client_id=1606073bf58ad17c6662&redirect_uri=http%3A%2F%2Flocalhost%3A1410%2F&response_type=code&state=nPRKPCjOcL
Authentication complete.

In [15]:
class(req)

[1] "response"

In [25]:
library('jsonlite')
json1 = content(req)
json2 = jsonlite::fromJSON(toJSON(json1))
json2[1:20,c('name','full_name','created_at')]

   name                    full_name                      created_at
1  2018                    jtleek/2018                    2018-10-31T13:50:37Z
2  advdatasci              jtleek/advdatasci              2017-08-25T10:38:16Z
3  advdatasci-project      jtleek/advdatasci-project      2017-11-20T18:33:29Z
4  advdatasci-swirl        jtleek/advdatasci-swirl        2015-12-07T17:43:53Z
5  advdatasci15            jtleek/advdatasci15            2015-08-30T22:27:26Z
6  advdatasci16            jtleek/advdatasci16            2016-08-17T16:08:20Z
7  advdatasci_swirl        jtleek/advdatasci_swirl        2016-08-24T00:44:35Z
8  ballgown                jtleek/ballgown                2013-08-28T18:18:50Z
9  bookdown-start          jtleek/bookdown-start          2016-11-30T02:05:00Z
10 capitalIn21stCenturyinR jtleek/capitalIn21stCenturyinR 2014-05-27T20:38:31Z
11 careerplanning          jtleek/careerplanning          2015-05-28T12:37:04Z
12 crsra                   jtleek/crsra                   2018-06-04T12:29:13Z
13 cshlcg-labs             jtleek/cshlcg-labs             2017-11-30T10:41:31Z
14 dataanalysis            jtleek/dataanalysis            2013-01-22T12:16:41Z
15 datascientist           jtleek/datascientist           2012-06-24T14:36:20Z
16 datasharing             jtleek/datasharing             2013-11-07T13:25:07Z
17 datawomenontwitter      jtleek/datawomenontwitter      2014-09-09T15:49:57Z
18 day1                    jtleek/day1                    2017-07-10T21:44:28Z
19 derfinder               jtleek/derfinder               2013-07-20T16:05:59Z
20 derfinder-1             jtleek/derfinder-1             2013-11-08T18:16:27Z

In [ ]:
names(json2)

In [ ]:
json2[1,1:4]
str(json2)

The sqldf package allows for execution of SQL commands on R data frames. We will use the sqldf package to practice the queries we might send with the dbSendQuery command in RMySQL.

Download the American Community Survey data and load it into an R object called

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06pid.csv

Which of the following commands will select only the data for the probability weights pwgtp1 with ages less than 50?

Using the same data frame you created in the previous problem, what is the equivalent function to unique(acs$AGEP)

How many characters are in the 10th, 20th, 30th and 100th lines of HTML from this page:

http://biostat.jhsph.edu/~jleek/contact.html

(Hint: the nchar() function in R may be helpful)

In [40]:
con = url("http://biostat.jhsph.edu/~jleek/contact.html")
htmlCode = readLines(con)
close(con)
class(htmlCode)

[1] "character"

In [42]:
my_df <- data.frame(htmlCode)

In [59]:
as.character(my_df[10,1])
nchar(as.character(my_df[10,1]))

as.character(my_df[20,1])
nchar(as.character(my_df[20,1]))

as.character(my_df[30,1])
nchar(as.character(my_df[30,1]))

as.character(my_df[100,1])
nchar(as.character(my_df[100,1]))

[1] "<meta name=\"Distribution\" content=\"Global\" />"

[1] 45

[1] "<script type=\"text/javascript\">"

[1] 31

[1] "  })();"

[1] 7

[1] "\t\t\t\t<ul class=\"sidemenu\">"

[1] 25

Read this data set into R and report the sum of the numbers in the fourth of the nine columns.

https://d396qusza40orc.cloudfront.net/getdata%2Fwksst8110.for

Original source of the data: http://www.cpc.ncep.noaa.gov/data/indices/wksst8110.for

(Hint this is a fixed width file format)

In [88]:
library(readr)

dt <- read_fwf(
  file="getdata_wksst8110.for",   
  skip=2,
  fwf_widths(c(14, 5, 4, 9, 4, 9, 4)))
#dt <- read.table("getdata_wksst8110.for")
dt <- as.data.frame(dt)

Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_double(),
  X3 = col_double(),
  X4 = col_double(),
  X5 = col_double(),
  X6 = col_double(),
  X7 = col_double()
)

In [89]:
head(dt)
str(dt)

#sum(dt$X7)

  X1        X2   X3   X4   X5   X6   X7
1 03JAN1990 23.4 -0.4 25.1 -0.3 26.6  0.0
2 10JAN1990 23.4 -0.8 25.2 -0.3 26.6  0.1
3 17JAN1990 24.2 -0.3 25.3 -0.3 26.5 -0.1
4 24JAN1990 24.4 -0.5 25.5 -0.4 26.5 -0.1
5 31JAN1990 25.1 -0.2 25.8 -0.2 26.7  0.1
6 07FEB1990 25.8  0.2 26.1 -0.1 26.8  0.1

'data.frame':	1254 obs. of  7 variables:
 $ X1: chr  "03JAN1990" "10JAN1990" "17JAN1990" "24JAN1990" ...
 $ X2: num  23.4 23.4 24.2 24.4 25.1 25.8 25.9 26.1 26.1 26.7 ...
 $ X3: num  -0.4 -0.8 -0.3 -0.5 -0.2 0.2 -0.1 -0.1 -0.2 0.3 ...
 $ X4: num  25.1 25.2 25.3 25.5 25.8 26.1 26.4 26.7 26.7 26.7 ...
 $ X5: num  -0.3 -0.3 -0.3 -0.4 -0.2 -0.1 0 0.2 -0.1 -0.2 ...
 $ X6: num  26.6 26.6 26.5 26.5 26.7 26.8 26.9 27.1 27.2 27.3 ...
 $ X7: num  0 0.1 -0.1 -0.1 0.1 0.1 0.2 0.3 0.3 0.2 ...
 - attr(*, "spec")=List of 2
  ..$ cols   :List of 7
  .. ..$ X1: list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ X2: list()
  .. .. ..- attr(*, "class")= chr  "collector_double" "collector"
  .. ..$ X3: list()
  .. .. ..- attr(*, "class")= chr  "collector_double" "collector"
  .. ..$ X4: list()
  .. .. ..- attr(*, "class")= chr  "collector_double" "collector"
  .. ..$ X5: list()
  .. .. ..- attr(*, "class")= chr  "collector_double" "collector"
  .. ..$ X6: list()
  .. .. ..- attr(*, "class")= chr  "collector_double" "collector"
  .. ..$ X7: list()
  .. .. ..- attr(*, "class")= chr  "collector_double" "collector"
  ..$ default: list()
  .. ..- attr(*, "class")= chr  "collector_guess" "collector"
  ..- attr(*, "class")= chr "col_spec"

In [87]:
dt[,7] <- as.double(dt[,7])

ERROR: Error in eval(expr, envir, enclos): (list) object cannot be coerced to type 'double'

In [91]:
sum(dt$X4)

[1] 32426.7