In [7]:
setwd("C:\\Users\\harash\\Dropbox\\github-repo\\learning\\courses\\jhu-data-science-spec\\getting-cleaning-data")

In [8]:
df <- read.csv("getdata_data_ss06hid.csv", colClasses = "character")
#str(df)

In [9]:
df[, "VAL"] <- as.numeric(df[, "VAL"])
df_filter <- df[ df[["VAL"]] == 24, ]
df_filter <- na.omit(df_filter)
#print(df_filter[1:5,])
print(nrow(df_filter))

[1] 53

In [13]:
language: R
cran: http://cran.rstudio.com
#install.packages('xlsx')
install.packages("readxl")

ERROR: Error in parse(text = x, srcfile = src): <text>:2:12: unexpected '/'
1: language: R
2: cran: http:/
              ^

In [54]:
library("readxl")
# xls files
my_data <- read_excel("getdata_data_DATA.gov_NGAP.xlsx",cell_rows(18:23),sheet=1,col_names = TRUE)
#df2 <- read.xlsx("getdata_data_DATA.gov_NGAP.xlsx", colClasses = "character")

In [55]:
str(my_data)

Classes 'tbl_df', 'tbl' and 'data.frame':	5 obs. of  15 variables:
 $ StateAbbrev: chr  "OK" "GA" "OK" "CO" ...
 $ CName      : chr  "Tiger Natural Gas" "PS Energy" "Geary Energy" "Utility Resource Solutions" ...
 $ Address1   : chr  "1422 E 71st  Suite J" "2987 Clairmont Rd" "7712 S Yale Ave" "1700 Lincoln St." ...
 $ Address2   : chr  NA "Suite 500" "Suite 201" "Suite 2530" ...
 $ Address3   : logi  NA NA NA NA NA
 $ City       : chr  "Tulsa" "Atlanta" "Tulsa" "Denver" ...
 $ Zip        : num  74136 30329 74136 80203 80120
 $ CuCurrent  : num  0 1 1 0 1
 $ PaCurrent  : num  1 0 0 1 0
 $ PoCurrent  : num  0 0 0 0 0
 $ Contact    : chr  "918-491-6998" "404-321-5711" "918-523-2516" "303-864-1919" ...
 $ Ext        : num  0 NA 0 0 456
 $ Fax        : chr  "918-491-6659" NA "918-523-2522" NA ...
 $ email      : logi  NA NA NA NA NA
 $ Status     : num  1 1 1 1 1

In [57]:
my_data[1:2,]
dat <- my_data[,7:15]

  StateAbbrev CName             Address1             Address2  Address3 City
1 OK          Tiger Natural Gas 1422 E 71st  Suite J NA        NA       Tulsa
2 GA          PS Energy         2987 Clairmont Rd    Suite 500 NA       Atlanta
  Zip   CuCurrent PaCurrent PoCurrent Contact      Ext Fax          email
1 74136 0         1         0         918-491-6998  0  918-491-6659 NA
2 30329 1         0         0         404-321-5711 NA  NA           NA
  Status
1 1
2 1

In [58]:
dat

  Zip   CuCurrent PaCurrent PoCurrent Contact      Ext Fax          email
1 74136 0         1         0         918-491-6998   0 918-491-6659 NA
2 30329 1         0         0         404-321-5711  NA NA           NA
3 74136 1         0         0         918-523-2516   0 918-523-2522 NA
4 80203 0         1         0         303-864-1919   0 NA           NA
5 80120 1         0         0         345-098-8890 456 NA           NA
  Status
1 1
2 1
3 1
4 1
5 1

In [59]:
sum(dat$Zip*dat$Ext,na.rm=T)

[1] 36534720

In [1]:
conda skeleton cran r-xlsx
conda build r-xlsx

ERROR: Error in parse(text = x, srcfile = src): <text>:1:7: unexpected symbol
1: conda skeleton
          ^

In [6]:
library(xml2)

In [7]:
my_xml <- read_xml("getdata_data_restaurants.xml")
str(my_xml)

List of 2
 $ node:<externalptr>
 $ doc :<externalptr>
 - attr(*, "class")= chr [1:2] "xml_document" "xml_node"

In [10]:
my_xml$xml_document

NULL

In [12]:
library("XML")
library("methods")

In [20]:
result <- xmlParse(file = "getdata_data_restaurants.xml")
xmldataframe <- xmlToDataFrame("getdata_data_restaurants.xml")

In [ ]:
result2 <- xmlTreeParse("getdata_data_restaurants.xml", useInternal=TRUE)
rootNode <- xmlRoot(result2)
rootNode[[1]]

In [25]:
rootNode[[1]][[1]]

<row _id="1" _uuid="93CACF6F-C8C2-4B87-95A8-8177806D5A6F" _position="1" _address="http://data.baltimorecity.gov/resource/k5ry-ef3g/1">
  <name>410</name>
  <zipcode>21206</zipcode>
  <neighborhood>Frankford</neighborhood>
  <councildistrict>2</councildistrict>
  <policedistrict>NORTHEASTERN</policedistrict>
  <location_1 human_address="{&quot;address&quot;:&quot;4509 BELAIR ROAD&quot;,&quot;city&quot;:&quot;Baltimore&quot;,&quot;state&quot;:&quot;MD&quot;,&quot;zip&quot;:&quot;&quot;}" needs_recoding="true"/>
</row>

In [27]:
all_zip_codes <- xpathSApply(rootNode,"//zipcode",xmlValue)

In [28]:
str(all_zip_codes)

 chr [1:1327] "21206" "21231" "21224" "21211" "21223" "21218" "21205" ...

In [29]:
count_zips <- length(which(all_zip_codes == "21231"))
count_zips

[1] 127

In [31]:
??fread

starting httpd help server ... done

In [38]:
DT <- read.csv("getdata_data_ss06pid.csv", colClasses = "character")
df[, "pwgtp15"] <- as.numeric(df[, "pwgtp15"])
#DT <- fread("getdata_data_ss06pid.csv")
#str(DT)

ERROR: Error in df[, "pwgtp15"]: object of type 'closure' is not subsettable

In [39]:
time_this <- function(x) {
    system.time(x)
}

In [40]:
my_func_call <- mean(DT$pwgtp15,by=DT$SEX)
time_this(my_func_call)

Warning message in mean.default(DT$pwgtp15, by = DT$SEX):
"argument is not numeric or logical: returning NA"

   user  system elapsed
      0       0       0

In [41]:
mean(DT$pwgtp15,by=DT$SEX)

Warning message in mean.default(DT$pwgtp15, by = DT$SEX):
"argument is not numeric or logical: returning NA"

[1] NA

In [42]:
str(DT)

'data.frame':	14931 obs. of  239 variables:
 $ RT      : chr  "P" "P" "P" "P" ...
 $ SERIALNO: chr  "186" "186" "186" "186" ...
 $ SPORDER : chr  "1" "2" "3" "4" ...
 $ PUMA    : chr  "00700" "00700" "00700" "00700" ...
 $ ST      : chr  "16" "16" "16" "16" ...
 $ ADJUST  : chr  "1015675" "1015675" "1015675" "1015675" ...
 $ PWGTP   : chr  "0089" "0092" "0107" "0091" ...
 $ AGEP    : chr  "43" "42" "16" "14" ...
 $ CIT     : chr  "1" "1" "1" "1" ...
 $ COW     : chr  "7" "4" "1" "" ...
 $ DDRS    : chr  "2" "2" "2" "2" ...
 $ DEYE    : chr  "2" "2" "2" "2" ...
 $ DOUT    : chr  "2" "2" "2" "" ...
 $ DPHY    : chr  "2" "2" "2" "2" ...
 $ DREM    : chr  "2" "2" "2" "2" ...
 $ DWRK    : chr  "2" "2" "2" "" ...
 $ ENG     : chr  "" "" "" "" ...
 $ FER     : chr  "" "2" "" "" ...
 $ GCL     : chr  "2" "2" "" "" ...
 $ GCM     : chr  "" "" "" "" ...
 $ GCR     : chr  "" "" "" "" ...
 $ INTP    : chr  "000000" "000000" "000000" "" ...
 $ JWMNP   : chr  "015" "" "005" "" ...
 $ JWRIP   : chr  "01" "" "01" "" ...
 $ JWTR    : chr  "01" "" "01" "" ...
 $ LANX    : chr  "2" "2" "2" "2" ...
 $ MAR     : chr  "1" "1" "5" "5" ...
 $ MIG     : chr  "1" "1" "1" "1" ...
 $ MIL     : chr  "3" "5" "" "" ...
 $ MILY    : chr  "2" "" "" "" ...
 $ MLPA    : chr  "0" "" "" "" ...
 $ MLPB    : chr  "0" "" "" "" ...
 $ MLPC    : chr  "1" "" "" "" ...
 $ MLPD    : chr  "0" "" "" "" ...
 $ MLPE    : chr  "0" "" "" "" ...
 $ MLPF    : chr  "0" "" "" "" ...
 $ MLPG    : chr  "0" "" "" "" ...
 $ MLPH    : chr  "0" "" "" "" ...
 $ MLPI    : chr  "0" "" "" "" ...
 $ MLPJ    : chr  "0" "" "" "" ...
 $ MLPK    : chr  "0" "" "" "" ...
 $ NWAB    : chr  "3" "2" "3" "" ...
 $ NWAV    : chr  "5" "5" "5" "" ...
 $ NWLA    : chr  "3" "2" "3" "" ...
 $ NWLK    : chr  "3" "2" "3" "" ...
 $ NWRE    : chr  "3" "3" "3" "" ...
 $ OIP     : chr  "000000" "000000" "000000" "" ...
 $ PAP     : chr  "00000" "00000" "00000" "" ...
 $ REL     : chr  "00" "01" "02" "02" ...
 $ RETP    : chr  "000000" "000000" "000000" "" ...
 $ SCH     : chr  "1" "1" "3" "3" ...
 $ SCHG    : chr  "" "" "5" "4" ...
 $ SCHL    : chr  "10" "09" "07" "04" ...
 $ SEMP    : chr  "050000" "000000" "000000" "" ...
 $ SEX     : chr  "1" "2" "1" "2" ...
 $ SSIP    : chr  "00000" "00000" "00000" "" ...
 $ SSP     : chr  "00000" "00000" "00000" "" ...
 $ WAGP    : chr  "050000" "000800" "004800" "" ...
 $ WKHP    : chr  "50" "04" "20" "" ...
 $ WKL     : chr  "1" "1" "1" "" ...
 $ WKW     : chr  "52" "20" "52" "" ...
 $ YOEP    : chr  "" "" "" "" ...
 $ UWRK    : chr  "1" "2" "1" "" ...
 $ ANC     : chr  "2" "1" "2" "1" ...
 $ ANC1P   : chr  "920" "920" "920" "920" ...
 $ ANC2P   : chr  "148" "999" "148" "999" ...
 $ DECADE  : chr  "" "" "" "" ...
 $ DRIVESP : chr  "1" "" "1" "" ...
 $ DS      : chr  "2" "2" "2" "2" ...
 $ ESP     : chr  "" "" "2" "2" ...
 $ ESR     : chr  "1" "6" "1" "" ...
 $ HISP    : chr  "01" "01" "01" "01" ...
 $ INDP    : chr  "7690" "7870" "8680" "" ...
 $ JWAP    : chr  "088" "" "200" "" ...
 $ JWDP    : chr  "046" "" "119" "" ...
 $ LANP    : chr  "" "" "" "" ...
 $ MIGPUMA : chr  "" "" "" "" ...
 $ MIGSP   : chr  "" "" "" "" ...
 $ MSP     : chr  "1" "1" "6" "" ...
 $ NAICSP  : chr  "5617Z" "611M1" "722Z" "" ...
 $ NATIVITY: chr  "1" "1" "1" "1" ...
 $ NOP     : chr  "" "" "1" "1" ...
 $ OC      : chr  "0" "0" "1" "1" ...
 $ OCCP    : chr  "4200" "2340" "4020" "" ...
 $ PAOC    : chr  "" "2" "" "" ...
 $ PERNP   : chr  "0100000" "0000800" "0004800" "" ...
 $ PINCP   : chr  "0100000" "0000800" "0004800" "" ...
 $ POBP    : chr  "053" "041" "016" "041" ...
 $ POVPIP  : chr  "501" "501" "501" "501" ...
 $ POWPUMA : chr  "00600" "" "00600" "" ...
 $ POWSP   : chr  "016" "" "016" "" ...
 $ QTRBIR  : chr  "3" "3" "2" "4" ...
 $ RAC1P   : chr  "1" "1" "1" "1" ...
 $ RAC2P   : chr  "01" "01" "01" "01" ...
 $ RAC3P   : chr  "69" "69" "69" "69" ...
 $ RACAIAN : chr  "0" "0" "0" "0" ...
 $ RACASN  : chr  "0" "0" "0" "0" ...
 $ RACBLK  : chr  "0" "0" "0" "0" ...
 $ RACNHPI : chr  "0" "0" "0" "0" ...
  [list output truncated]