## Question 1

The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv

and load the data into R. The code book, describing the variable names is here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FPUMSDataDict06.pdf

Apply strsplit() to split all the names of the data frame on the characters "wgtp". What is the value of the 123 element of the resulting list?

In [1]:
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv","2006_Idaho_Housing_Data.csv")

In [2]:
df = read.csv("2006_Idaho_Housing_Data.csv")

In [4]:
splitnames = strsplit(names(df),"wgtp")

In [5]:
splitnames[[123]]

[1] ""   "15"

## Question 2

Load the Gross Domestic Product data for the 190 ranked countries in this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv

Remove the commas from the GDP numbers in millions of dollars and average them. What is the average?

Original data sources:

http://data.worldbank.org/data-catalog/GDP-ranking-table

In [6]:
gdp_df = read.csv("GDP2.csv")

In [7]:
head(gdp_df)

  CountryCode Rank X  CountryName    GDPInMillions X.1 X.2 X.3 X.4 X.5
1 USA         1    NA United States   16,244,600       NA  NA  NA  NA
2 CHN         2    NA China           8,227,103        NA  NA  NA  NA
3 JPN         3    NA Japan           5,959,718        NA  NA  NA  NA
4 DEU         4    NA Germany         3,428,131        NA  NA  NA  NA
5 FRA         5    NA France          2,612,878        NA  NA  NA  NA
6 GBR         6    NA United Kingdom  2,471,784        NA  NA  NA  NA

In [10]:
gdp_df$GDPInMillions = sub(",","",gdp_df$GDPInMillions)

In [18]:
head(gdp_df)
tail(gdp_df)

  CountryCode Rank X  CountryName    GDPInMillions X.1 X.2 X.3 X.4 X.5
1 USA         1    NA United States   16244600         NA  NA  NA  NA
2 CHN         2    NA China           8227103          NA  NA  NA  NA
3 JPN         3    NA Japan           5959718          NA  NA  NA  NA
4 DEU         4    NA Germany         3428131          NA  NA  NA  NA
5 FRA         5    NA France          2612878          NA  NA  NA  NA
6 GBR         6    NA United Kingdom  2471784          NA  NA  NA  NA

    CountryCode Rank X  CountryName                  GDPInMillions X.1 X.2 X.3
226 LAC         NA   NA   Latin America & Caribbean  5344028           NA  NA
227 MNA         NA   NA   Middle East & North Africa 1540807           NA  NA
228 SAS         NA   NA   South Asia                 2286093           NA  NA
229 SSA         NA   NA   Sub-Saharan Africa         1289813           NA  NA
230 HIC         NA   NA High income                  49717634          NA  NA
231 EMU         NA   NA   Euro area                  12192344          NA  NA
    X.4 X.5
226 NA  NA
227 NA  NA
228 NA  NA
229 NA  NA
230 NA  NA
231 NA  NA

In [20]:
country_gdp_df = gdp_df[which(gdp_df$Rank>0),]
tail(country_gdp_df)

    CountryCode Rank X  CountryName           GDPInMillions X.1 X.2 X.3 X.4 X.5
185 FSM         185  NA Micronesia, Fed. Sts.  326              NA  NA  NA  NA
186 STP         186  NA São Tomé and Principe  263              NA  NA  NA  NA
187 PLW         187  NA Palau                  228              NA  NA  NA  NA
188 MHL         188  NA Marshall Islands       182              NA  NA  NA  NA
189 KIR         189  NA Kiribati               175              NA  NA  NA  NA
190 TUV         190  NA Tuvalu                 40               NA  NA  NA  NA

In [21]:
mean(as.numeric(country_gdp_df$GDPInMillions),na.rm=TRUE)

[1] 377652.4

## Question 3

In the data set from Question 2 what is a regular expression that would allow you to count the number of countries whose name begins with "United"? Assume that the variable with the country names in it is named countryNames. How many countries begin with United?

In [22]:
countryNames = country_gdp_df$CountryName

In [23]:
grep("^United",countryNames)

[1]  1  6 32

In [25]:
grep("*United",countryNames)

[1]  1  6 32

## Question 4

Load the Gross Domestic Product data for the 190 ranked countries in this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv

Load the educational data from this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv

Match the data based on the country shortcode. Of the countries for which the end of the fiscal year is available, how many end in June?

Original data sources:

http://data.worldbank.org/data-catalog/GDP-ranking-table

http://data.worldbank.org/data-catalog/ed-stats

In [28]:
df1 = read.csv("GDP2.csv")
df1 = df1[which(df1$Rank>0),]
df2 = read.csv("EDSTATS_Country.csv")
merged_df = merge(df1,df2,by.x="CountryCode",by.y="CountryCode")
tail(merged_df)

    CountryCode Rank X  CountryName      GDPInMillions X.1 X.2 X.3 X.4 X.5 ...
184 WSM         181  NA Samoa             684              NA  NA  NA  NA  ...
185 YEM          90  NA Yemen, Rep.       35,646           NA  NA  NA  NA  ...
186 ZAF          28  NA South Africa      384,313          NA  NA  NA  NA  ...
187 ZAR         112  NA Congo, Dem. Rep.  17,204           NA  NA  NA  NA  ...
188 ZMB         104  NA Zambia            20,678           NA  NA  NA  NA  ...
189 ZWE         134  NA Zimbabwe          9,802            NA  NA  NA  NA  ...
    Source.of.most.recent.Income.and.expenditure.data
184
185 ES/BS, 2005
186 ES/BS, 2000
187 1-2-3, 2005-06
188 IHS, 2004-05
189
    Vital.registration.complete Latest.agricultural.census
184                             1999
185                             2002
186                             2000
187                             1990
188                             1990
189                             1960
    Latest.industrial.data Latest.trade.data Latest.water.withdrawal.data
184   NA                   2008                NA
185 2005                   2008              2000
186 2005                   2008              2000
187   NA                   1986              2000
188   NA                   2008              2000
189 1995                   2008              2002
    X2.alpha.code WB.2.code Table.Name       Short.Name
184 WS            WS        Samoa            Samoa
185 YE            RY        Yemen, Rep.      Yemen
186 ZA            ZA        South Africa     South Africa
187 CD            ZR        Congo, Dem. Rep. Dem. Rep. Congo
188 ZM            ZM        Zambia           Zambia
189 ZW            ZW        Zimbabwe         Zimbabwe

In [31]:
str(merged_df)

'data.frame':	189 obs. of  40 variables:
 $ CountryCode                                      : Factor w/ 229 levels "","ABW","ADO",..: 2 4 5 6 7 8 9 11 12 13 ...
 $ Rank                                             : int  161 105 60 125 32 26 133 172 12 27 ...
 $ X                                                : logi  NA NA NA NA NA NA ...
 $ CountryName                                      : Factor w/ 229 levels "","  East Asia & Pacific",..: 20 11 16 12 216 18 19 17 21 22 ...
 $ GDPInMillions                                    : Factor w/ 205 levels ""," 1,008 "," 1,129 ",..: 65 68 24 26 109 134 186 5 11 118 ...
 $ X.1                                              : Factor w/ 7 levels "","a","b","c",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ X.2                                              : logi  NA NA NA NA NA NA ...
 $ X.3                                              : logi  NA NA NA NA NA NA ...
 $ X.4                                              : logi  NA NA NA NA NA NA ...
 $ X.5                                              : logi  NA NA NA NA NA NA ...
 $ Long.Name                                        : Factor w/ 234 levels "American Samoa",..: 5 57 99 108 226 4 109 2 15 110 ...
 $ Income.Group                                     : Factor w/ 6 levels "","High income: nonOECD",..: 2 4 5 6 2 6 5 6 3 3 ...
 $ Region                                           : Factor w/ 8 levels "","East Asia & Pacific",..: 4 7 8 3 5 4 3 4 2 3 ...
 $ Lending.category                                 : Factor w/ 4 levels "","Blend","IBRD",..: 1 4 4 3 1 3 2 3 1 1 ...
 $ Other.groups                                     : Factor w/ 3 levels "","Euro area",..: 1 3 1 1 1 1 1 1 1 2 ...
 $ Currency.Unit                                    : Factor w/ 155 levels "","Afghan afghani",..: 8 2 5 3 144 6 7 44 9 49 ...
 $ Latest.population.census                         : Factor w/ 28 levels "","1970","1979",..: 17 3 2 18 22 18 18 18 23 18 ...
 $ Latest.household.survey                          : Factor w/ 56 levels "","CPS (monthly)",..: 1 39 38 40 1 1 16 1 1 1 ...
 $ Special.Notes                                    : Factor w/ 70 levels "","A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocab"| __truncated__,..: 1 27 1 1 1 1 1 63 26 7 ...
 $ National.accounts.base.year                      : Factor w/ 44 levels "","1954","1973",..: 25 38 28 1 25 22 1 18 1 33 ...
 $ National.accounts.reference.year                 : int  NA NA NA 1996 NA NA 1996 NA 2007 NA ...
 $ System.of.National.Accounts                      : int  NA NA NA 1993 NA 1993 1993 NA 1993 1993 ...
 $ SNA.price.valuation                              : Factor w/ 3 levels "","VAB","VAP": 1 2 3 2 2 2 2 2 2 2 ...
 $ Alternative.conversion.factor                    : Factor w/ 33 levels "","1960-85","1965-84",..: 1 1 24 1 1 6 21 1 1 1 ...
 $ PPP.survey.year                                  : int  NA NA 2005 2005 NA 2005 2005 NA 2005 2005 ...
 $ Balance.of.Payments.Manual.in.use                : Factor w/ 3 levels "","BPM4","BPM5": 1 1 3 3 2 3 3 3 3 3 ...
 $ External.debt.Reporting.status                   : Factor w/ 4 levels "","Actual","Estimate",..: 1 2 2 2 1 2 2 1 1 1 ...
 $ System.of.trade                                  : Factor w/ 3 levels "","General","Special": 3 2 3 2 2 3 3 2 2 3 ...
 $ Government.Accounting.concept                    : Factor w/ 3 levels "","Budgetary",..: 1 3 1 3 3 3 3 1 3 3 ...
 $ IMF.data.dissemination.standard                  : Factor w/ 3 levels "","GDDS","SDDS": 1 2 2 2 2 3 3 2 3 3 ...
 $ Source.of.most.recent.Income.and.expenditure.data: Factor w/ 77 levels "","1-2-3, 2005-06",..: 1 1 35 66 1 45 46 1 13 48 ...
 $ Vital.registration.complete                      : Factor w/ 2 levels "","Yes": 1 1 1 2 1 2 2 2 2 2 ...
 $ Latest.agricultural.census                       : Factor w/ 45 levels "","1960","1964-65",..: 1 1 3 32 32 41 1 1 39 35 ...
 $ Latest.industrial.data                           : int  NA NA NA 2005 NA 2001 NA NA 2004 2004 ...
 $ Latest.trade.data                                : int  2008 2008 1991 2008 2008 2008 2008 2007 2008 2008 ...
 $ Latest.water.withdrawal.data                     : int  NA 2000 2000 2000 2005 2000 2000 1990 2000 2000 ...
 $ X2.alpha.code                                    : Factor w/ 208 levels "","AD","AE","AF",..: 13 4 8 6 3 9 7 5 12 11 ...
 $ WB.2.code                                        : Factor w/ 209 levels "","AD","AE","AF",..: 13 4 8 6 3 9 7 5 12 11 ...
 $ Table.Name                                       : Factor w/ 234 levels "Afghanistan",..: 10 1 6 2 220 8 9 7 11 12 ...
 $ Short.Name                                       : Factor w/ 234 levels "Afghanistan",..: 10 1 6 2 220 8 9 7 11 12 ...

In [ ]:
merged_df$Special.Notes

In [36]:
notes = merged_df$Special.Notes
merged_df[grep("Fiscal year end: June",notes),c("CountryCode","Special.Notes")]

    CountryCode
9   AUS
16  BGD
29  BWA
51  EGY
65  GMB
89  KEN
96  KWT
133 PAK
140 PRI
152 SLE
159 SWE
175 UGA
189 ZWE
    Special.Notes
9   Fiscal year end: June 30; reporting period for national accounts data: FY.
16  Fiscal year end: June 30; reporting period for national accounts data: FY.
29  Fiscal year end: June 30; reporting period for national accounts data: FY.
51  Fiscal year end: June 30; reporting period for national accounts data: FY.
65  Fiscal year end: June 30; reporting period for national accounts data: CY.
89  Fiscal year end: June 30; reporting period for national accounts data: CY.
96  Fiscal year end: June 30; reporting period for national accounts data: CY.
133 Fiscal year end: June 30; reporting period for national accounts data: FY.
140 Fiscal year end: June 30; reporting period for national accounts data: FY.
152 Fiscal year end: June 30; reporting period for national accounts data: CY.
159 Fiscal year end: June 30; reporting period for national accounts data: CY.
175 Fiscal year end: June 30; reporting period for national accounts data: FY.
189 Fiscal year end: June 30; reporting period for national accounts data: CY.

## Question 5

You can use the quantmod (http://www.quantmod.com/) package to get historical stock prices for publicly traded companies on the NASDAQ and NYSE. Use the following code to download data on Amazon's stock price and get the times the data was sampled.

```r
library(quantmod)
amzn = getSymbols("AMZN",auto.assign=FALSE)
sampleTimes = index(amzn)
```

How many values were collected in 2012? How many values were collected on Mondays in 2012?

In [48]:
library(quantmod)
amzn = getSymbols("AMZN",src="google")
sampleTimes = index(amzn)

ERROR: Error: 'getSymbols.google' is defunct.
Google Finance stopped providing data in March, 2018.
You could try setting src = "yahoo" instead.
See help("Defunct") and help("quantmod-defunct")

In [49]:
options("getSymbols.warning4.0"=FALSE)